
<ul class="accordion" data-accordion>
  {% for ag in assessment_groups %}
    <li class="accordion-navigation">
      <a href="#{{ ag.anchor }}" >{{ ag }}</a>
      <div id="{{ ag.anchor }}" class="content" >
        {% for a in ag.assessments %}
          <div class="row assessment-result {{ a.is_passing|yesno:"assessment-passing,assessment-failing" }}" >
            <div class="medium-5 column" >
              {{ a.created_at }}
            </div>
            <div class="medium-5 column" >

              <table>
                <tr>
                  <th>Your score:</th>
                  <td>{{ a.score }} / {{ a.max_possible_score }}</td>
                </tr>
                <tr>
                  <th>Required score:</th>
                  <td>{{ a.passing_score }} / {{ a.max_possible_score }}</td>
                </tr>
                <tr>
                  <th>Outcome:</th>
                  <td>{{ a.is_passing|yesno:"Passed,Failed"}}</td>
                </tr>
              </table>
            </div>

            <div class="medium-2 column" >
              <a href="#" class="button expand" >Details</a>
            </div>

          </div>
        {% endfor %}
      </div>
    </li>
  {% endfor %}

</ul>