<nav class="top-bar" data-topbar role="navigation" >
  <ul class="title-area" >
    <li class="name" >
      <h1><a href="{% url "index" %}" ><i class="fa fa-hand-o-right"></i> AQA</a></h1>
    </li>

    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section" >
    <ul class="right" >
      {% if request.user.is_authenticated %}
        <li><a href="{% url 'sign_out' %}" >Sign out</a></li>
      {% else %}
        <li><a href="{% url 'sign_in' %}" >Sign in</a></li>
      {%endif %}
    </ul>

    <ul class="left" >
      <li><a href="{% url 'all_articles' %}">Articles</a></li>
    </ul>
  </section>
</nav>