{% extends 'aqa/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="row" >
  <div class="large-12 columns panel megatitle" >
    <h1>A.Q.A</h1>
    <h3>Articles. Questions. Answers.</h3>
  </div>
</div>

<div class="row" data-equalizer >
  <div class="medium-6 columns panel" data-equalizer-watch >
    <div id="greetings" >
      <h3>Greetings!</h3>

      {% if request.user.is_authenticated %}
        <p>What are you waiting for?</p>
        <a href="{% url "all_articles" %}" class="button alert">Get to class!</a>
      {% else %}
        <p>Ready for class?</p>
        <a href="{% url "sign_in" %}" class="button success" >Sign in</a>
      {% endif %}
    </div>
  </div>
  <div class="medium-6 columns" data-equalizer-watch >
    <img class="rounded-box" src="{% static "aqa/images/booboo1.jpg" %}" />
  </div>
</div>

{% endblock %}
