
.megatitle {
  text-align: center;
}


.rounded-box {
  border: 2px solid black;
  border-radius: 10px;
}



.quiz .question:not(:last-child) {
  border-bottom: 1px dotted #cccccc;
}

.quiz .question:nth-child(even) {
  background: #fafafa;
}

.quiz .column {
  margin-top: 1em;
  margin-bottom: 1em;
}


.quiz input[type="checkbox"] {
  margin-right: 1em;
}

.quiz input[type='checkbox']:checked + label::before {
  content: "Yes!";
}

.quiz input[type='checkbox']:not(:checked) + label::before {
  content: "No...";
}



#greetings {
  text-align: center;
}

#greetings p {
  font-size: 1.2em;
}




#login-box {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#byebye {
  margin-top: 2em;
}

#byebye-msg {
  text-align: center;
}


@media only screen and (min-width: 40.063em) {
  #greetings, #byebye-msg {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}